@{
    Layout = "~/Views/Shared/_DraggableLayout.cshtml";
}
<style>
    .draggable
    {
        width: 90px;
        height: 90px;
        padding: 0.5em;
        float: left;
        margin: 0 10px 10px 0;
        font-size: 12px;
    }
    #draggableConstrain1, #draggableConstrain2
    {
        margin-bottom: 20px;
    }
    #draggableConstrain1
    {
        cursor: n-resize;
    }
    #draggableConstrain2
    {
        cursor: e-resize;
    }
    #containment-wrapper
    {
        width: 95%;
        height: 150px;
        border: 2px solid #ccc;
        padding: 10px;
    }
</style>
<div id="demo-frame">
    <div class="demo">
        <h3 class="docs">
            Constrain movement along an axis:</h3>
        <div id="draggableConstrain1" class="draggable ui-widget-content">
            <p>
                I can be dragged only vertically</p>
        </div>
        <div id="draggableConstrain2" class="draggable ui-widget-content">
            <p>
                I can be dragged only horizontally</p>
        </div>
        <h3 class="docs">
            Or to within another DOM element:</h3>
        <div id="containment-wrapper">
            <div id="draggableConstrain3" class="draggable ui-widget-content">
                <p>
                    I'm contained within the box</p>
            </div>
            <div id="draggableConstrain4" class="draggable ui-widget-content">
                <p>
                    I'm contained within the box's parent</p>
            </div>
            <div class="draggable ui-widget-content">
                <p id="draggableConstrain5" class="ui-widget-header">
                    I'm contained within my parent</p>
            </div>
        </div>
    </div>
</div>
<div class="demo-description">
    <p>
        Constrain the movement of each draggable by defining the boundaries of the draggable
        area. Set the <code>axis</code> option to limit the draggable's path to the x- or
        y-axis, or use the <code>containment</code> option to specify a parent DOM element
        or a jQuery selector, like 'document.'</p>
</div>
