@{
    Layout = "~/Views/Shared/_DraggableLayout.cshtml";
}
<style>
    #draggableCursor1, #draggableCursor2, #draggableCursor3
    {
        width: 100px;
        height: 100px;
        padding: 0.5em;
        float: left;
        margin: 0 10px 10px 0;
        font-size: 12px;
    }
</style>
<div id="demo-frame">
    <div class="demo">
        <div id="draggableCursor1" class="ui-widget-content">
            <p>
                I will always stick to the center (relative to the mouse)</p>
        </div>
        <div id="draggableCursor2" class="ui-widget-content">
            <p>
                My cursor is at left -5 and top -5</p>
        </div>
        <div id="draggableCursor3" class="ui-widget-content">
            <p>
                My cursor position is only controlled for the 'bottom' value</p>
        </div>
    </div>
</div>
<div class="demo-description">
    <p>
        Position the cursor while dragging the object. By default the cursor appears in
        the center of the dragged object; use the <code>cursorAt</code> option to specify
        another location relative to the draggable (specify a pixel value from the top,
        right, bottom, and/or left). Customize the cursor's appearance by supplying the
        <code>cursor</code> option with a valid CSS cursor value: default, move, pointer,
        crosshair, etc.</p>
</div>
