@{
    Layout = "~/Views/Shared/_DraggableLayout.cshtml";
}
<style>
    #draggableDefault
    {
        width: 150px;
        height: 150px;
        padding: 0.5em;
        font-size: 12px;
    }
</style>
<div id="demo-frame">
    <div class="demo">
        <div id="draggableDefault" class="ui-widget-content">
            <p>
                Drag me around</p>
        </div>
    </div>
</div>
<div class="demo-description">
    <p>
        Enable draggable functionality on any DOM element. Move the draggable object by
        clicking on it with the mouse and dragging it anywhere within the viewport.</p>
</div>
