@{
    Layout = "~/Views/Shared/_DraggableLayout.cshtml";
}
<style>
    #draggableDelay, #draggableDelay2
    {
        width: 120px;
        height: 120px;
        padding: 0.5em;
        float: left;
        margin: 0 10px 10px 0;
        font-size: 12px;
    }
</style>
<div id="demo-frame">
    <div class="demo">
        <div id="draggableDelay" class="ui-widget-content">
            <p>
                Only if you drag me by 20 pixels, the dragging will start</p>
        </div>
        <div id="draggableDelay2" class="ui-widget-content">
            <p>
                Regardless of the distance, you have to drag and wait for 1000ms before dragging
                starts</p>
        </div>
    </div>
</div>
<div class="demo-description">
    <p>
        Delay the start of dragging for a number of milliseconds with the <code>delay</code>
        option; prevent dragging until the cursor is held down and dragged a specifed number
        of pixels with the <code>distance</code> option.
    </p>
</div>
