<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Gadget Flyout</title>
  <link rel="stylesheet" href="Core.css" type="text/css" />
  <link rel="stylesheet" href="Flyout.css" type="text/css" />
</head>
<body id="gadgetFlyout" unselectable="unselectable" scroll="no">
  <script type="text/javascript" src="mscorlib.js"></script>
  <script type="text/javascript" src="$safeprojectname$.js"></script>
  <script type="text/javascript">
    $safeprojectname$.FlyoutScriptlet.main();
  </script>
</body>
</html>
