<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Gadget</title>
  <link rel="stylesheet" href="Core.css" type="text/css" />
  <link rel="stylesheet" href="Gadget.css" type="text/css" />
</head>
<body id="gadgetView" class="docked" unselectable="unselectable" scroll="no">
  <script type="text/javascript" src="mscorlib.js"></script>
  <script type="text/javascript" src="$safeprojectname$.js"></script>
  <script type="text/javascript">
    $safeprojectname$.GadgetScriptlet.main();
  </script>
</body>
</html>
